body{
background-image: url("leaf.JPG");
height: 100%;
 background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;

}
* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  max-width: 800px;
}
*{
padding:auto;
margin:auto;
text-align:centre;
}
/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;

}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 60px;
  padding: 30px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}
